* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  color: #fff;
  background: #000;
  font-family: "Mabry Pro", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1560px;
  margin: 0 auto;
}
