@import url("./common.css");
@import url("./font.css");

.main {
}

.view {
  padding-bottom: 90px;
  background: url("../img/view-fon.png") no-repeat center center / cover;
}

.view__container {
}

.view__header {
  padding: 30px 0;
  margin-bottom: 60px;
}

.view__logo {
  width: 54px;
  height: 78px;
  background: url("../img/logo-icon.svg") no-repeat center / cover;
}

.view__link {
  position: relative;
}

.view__link::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.view__list-pos {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px 210px;
  align-items: flex-end;
}

.view__item-pos {
}

.view__item-pos:nth-child(1) {
  width: 100%;
}

.view__item-pos:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.view__item-pos:nth-child(3) {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.view__title {
  max-width: 770px;
  font-size: 70px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1px;
}

.view__title span {
  color: #c89646;
}

.view__subtitle {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
}

.view__list {
  flex-direction: column;
  gap: 14px;
}

.view__item {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.view__item:nth-child(1) .view__wrapp-icon {
  background: url("../img/view-icon-1.svg") no-repeat center / 36px, #ffffff12;
}

.view__item:nth-child(2) .view__wrapp-icon {
  background: url("../img/view-icon-2.svg") no-repeat center / 36px, #ffffff12;
}

.view__item:nth-child(3) .view__wrapp-icon {
  background: url("../img/view-icon-3.svg") no-repeat center / 36px, #ffffff12;
}

.view__item:nth-child(4) .view__wrapp-icon {
  background: url("../img/view-icon-4.svg") no-repeat center / 36px, #ffffff12;
}

.view__wrapp-icon {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.view__wrapp-text {
  max-width: 390px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.view__text {
  line-height: 22px;
  font-size: 22px;
  font-weight: 400;
}

.view__desc {
  line-height: 18px;
  font-size: 18px;
  font-weight: 300;
  color: #ffffffb3;
}

.view__btn {
  position: relative;
  padding: 25px 35px 25px 90px;
  font-weight: 500;
  color: #000;
  font-size: 22px;
  line-height: 20px;
  max-width: max-content;
  transition: background 0.3s ease;
  background: linear-gradient(
    96deg,
    rgba(208, 147, 57, 1) 0%,
    rgba(241, 219, 162, 1) 34%,
    rgba(255, 232, 187, 1) 49%,
    rgba(170, 122, 57, 1) 87%,
    rgba(201, 162, 85, 1) 99%
  );
  border-radius: 100px;
  overflow: hidden;
}
.view__btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  z-index: 10;
  background: url("../img/logo.svg") no-repeat center left/ contain;
}

.view__btn::after {
  background: linear-gradient(
    96deg,
    rgba(201, 162, 85, 1) 0%,
    rgba(170, 122, 57, 1) 34%,
    rgba(255, 232, 187, 1) 49%,
    rgba(241, 219, 162, 1) 87%,
    rgba(208, 147, 57, 1) 99%
  );
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.5s ease;
}

.view__btn:hover::after {
  animation: my-animation 0.6s linear infinite;
  opacity: 1;
}

.view__btn p {
  position: relative;
  z-index: 10;
  display: inline-block;
}

@keyframes my-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.view__card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 35px 50px;
  border-radius: 10px;
  background-color: #000000b2;
  backdrop-filter: blur(35px);
}

.view__icon {
  width: 104px;
  height: 104px;
  background: url("../img/logo.svg") no-repeat center / contain;
}

.view__card-text {
  max-width: min-content;
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
}

.gold {
  position: relative;
  font-family: "TTRicordi", Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 64px;
  color: #f1d9a3;
}

.gold::after {
  content: "+";
  position: absolute;
}

.view__inner {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.view__inner-svg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: url("../img/smile-img.png") no-repeat center / 30px, #ffffff12;
}

.view__inner-text {
  font-size: 18px;
  line-height: 18px;
  color: #ffffffb3;
}

.galery {
  padding-top: 74px;
  background: url("../img/effect-fon-1.png") no-repeat left -2% / 1400px,
    url("../img/effect-fon-2.png") no-repeat left 99% / 1500px,
    url("../img/galery-fon.png") no-repeat center center / cover;
}

.galery__container {
}

.galery__wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
}

.galery__title {
  font-size: 65px;
  line-height: 60px;
  font-weight: 500;
}

.galery__title span {
  color: #c89646;
}

.galery__inner {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.galery__text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffffe6;
}

.galery__list-pos {
  margin-bottom: 40px;
  flex-direction: column;
  gap: 20px;
}

.galery__item-pos {
}

.galery__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.galery__item {
}

.galery__item:nth-child(2) {
  position: relative;
  top: 30px;
}

.galery__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: 0;
  font-size: 0;
  object-fit: cover;
}

.galery__footer-wrapp {
  padding: 46px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.galery__more {
  font-size: 16px;
  line-height: 22px;
  position: relative;
  color: #ffffff80;
}

.galery__more::after {
  position: absolute;
  content: "";
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
}

.galery__link {
}
