# System files 
.DS_Store
Thumbs.db

# Files build
# node_modules/
# bower_components/
# dist/
# build/

# temp files
*.sublime-workspace
*.sublime-project
.vscode/
.idea/
*.swp
*.swo

# Files environment 
.env
.env.local
.env.*.local

# temp files
*.log
*.tmp

# info
info/