@font-face {
  font-family: "Mabry Pro";
  src: local("Mabry Pro Medium"), local("MabryPro-Medium"),
    url("../font/MabryPro-Medium.woff2") format("woff2"),
    url("../font/MabryPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mabry Pro";
  src: local("Mabry Pro Light"), local("MabryPro-Light"),
    url("../font/MabryPro-Light.woff2") format("woff2"),
    url("../font/MabryPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mabry Pro";
  src: local("Mabry Pro"), local("MabryPro-Regular"),
    url("../font/MabryPro-Regular.woff2") format("woff2"),
    url("../font/MabryPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
